
/* The ezi-checkbox start*/
.ezi-checkbox { display: inline-flex; align-items: center; position: relative; height: 16px; width: 17px;min-width: 17px; cursor: pointer; font-size: 22px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; margin: 1px 12px 0 0; }

.ezi-checkbox input { position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0; }


.ezi-checkbox-mark { position: absolute; top: 0; left: 0; height: 16px; width: 17px; border: 1px solid #C5C5C5; border-radius:3px; }


.ezi-checkbox:hover input ~ .ezi-checkbox-mark { background-color: #ccc; }


.ezi-checkbox input:checked ~ .ezi-checkbox-mark { background-color: #CE2E6C; border-color: #CE2E6C; }

.ezi-checkbox-mark:after { content: ""; position: absolute; display: none; }


.ezi-checkbox input:checked ~ .ezi-checkbox-mark:after { display: block; }

.ezi-checkbox .ezi-checkbox-mark:after { left: 5px; top: 0px; width: 6px; height: 11px; border: solid white; border-width: 0 2px 2px 0; transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
/* The ezi-checkbox End*/


// demograpgy Filter css Start

.custom-demography-select-dropdown{
    display: none;
    background-color: #fff;
    border-radius: 12px;
    padding: 0;
    max-width: 450px;
    min-width: 450px;
    height:300px;
    max-height:300px;
    width: 100%;
    flex-direction: column;
    // overflow: hidden;
    position: absolute;
    z-index: 9999;
    top: 100%;
    left: 0;
    margin-top: 8px;
    padding: 0;
    -moz-box-shadow:0px 3px 20px rgba(0,0,0,0.09); 
    -webkit-box-shadow:0px 3px 20px rgba(0,0,0,0.09); 
    box-shadow:0px 3px 20px rgba(0,0,0,0.09);
    &.active{
        display: inline-flex;        
    }
    &.right {
        left: unset;
        right: 0;
        .demograpgy-filter-wrap{
            &:before{
                content: '';
                left: unset;
                right: 50px;
            }
        }
    }
    &.left {
        left: 0;
    }
   
    ul {
        position: relative;
        padding: 0;
        height: calc(100% - 90px);
        overflow-y: auto;
        margin-right: 5px;
        padding: 0 10px;
        &::-webkit-scrollbar {
            width: 4px;
        }
        li {
            list-style-type: none;          
            font-family: $Font;
            color:#B7B7B7;
            transition: color 0.3 ease;
            position: relative;
            font-size: 0.82rem;
            margin-bottom: 8px;
            &:last-child{
                padding-bottom: 20px;
            }

        }
    }
    .demography-checkbox-wrap {
        display: flex;
        align-items: center;
        span {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: capitalize;
        }
    }
}

.demograpgy-filter-wrap{
    height: 100%;
    position: relative;
    &:before {
        border: 6px solid transparent;
        border-bottom-color: #fff;
        position: absolute;
        left: 170px;
        top: -12px;
        content: '';
        z-index: 99;
    }
    .filter-tab-header{
        background: #FBFBFB;
        max-width: 200px;
        min-width: 200px;
        width: 100%;
        .nav.nav-pills{
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            overflow-y: auto;
            height: 100%;
            padding-top: 10px;
            &::-webkit-scrollbar {
                width: 4px;
            }
        }
        .nav-link{
            color:#C5C5C5;
            font-size: 0.78rem;
            background-color: transparent;
            text-transform: capitalize;
            font-family: $Font;
            padding: 7px 30px 7px 15px;
            display: flex;
            align-items: center;
            .checkbox-count{
                height: 18px;
                min-width: 18px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background: #b7b7b7;
                color: #656565;
                border-radius: 25px;
                margin-left: 8px;
                font-size: 0.7rem;
                padding: 3px;
            }
        }
        .nav-link.active{
            color:#5A4E63;
            background-image: url("../../assets/images/breadcrumb‭_arrow.svg");
            background-size: 6px;
            background-position: center right 15px;
            background-repeat: no-repeat;
        }
        
        .nav-item:last-child{
            .nav-link{
                padding-bottom: 20px;
            }
        }
    } 
    .demography-filter-search-wrap {
        display: flex;
        align-items: center;
        margin: 20px 0;
    }

    .check_all_wrapper {
        display: inline-flex;
        overflow: hidden;
        position: relative;
        padding: 0 10px;

        .check_all_checkbox {
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            cursor: pointer;
        }
        
         .check_all_txt {
            font-family: "NunitoSansSemiBold";
            font-size: 0.89rem;
            color: #b7b7b7;
            transition: color 0.3s ease;
            &.checkbox-active{
                color: #CE2E6C;
            }
        }
        &:hover .check_all_txt {
            color: #CE2E6C;
        }
        
    }

    .filter-select-all {
        border: 0;
        background: transparent;
        color: #B7B7B7;
        font-size: 0.8rem;
        padding: 4px 10px;
        display: inline-flex;
        margin-right: 0px;
        &:hover{
            color:#CE2E6C;
        }
        &:focus{
            outline:0;
        }
    }
    .demography-filter-search {
        border-radius: 25px;
        border: 1px solid #F6F6F6;
        padding: 0 10px;
        min-height: 34px;
        margin: 0 10px;
        font-size: 0.8rem;
        color:#5A4E63;
        &:focus {
            background-color: #F2F5F8;
            outline: 0;
        }
        @include placeholder {
            color: #D9D9D9;
        }
    }
    .demography-filter-inner{
        height: calc(100% - 46px);
        display: flex;
    }
    .demography-filter-tab-content{
        width: calc(100% - 200px);
        padding: 0 0 0 10px;
        // overflow: hidden;
        .tab-pane{
            height: 100%;
        }
    }
    .demograpgy-filter-header {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        border-bottom: 1px solid #F6F6F6;
    }
    .demograpgy-filter-heading{
        margin:0;
        color:#CE2E6C;
        padding-left: 15px;
        font-size: 1rem;
    }
    .filter-btn-wraps {
        margin-left: auto;
    }
    .filter-apply-btn{
        padding: 0 16px;
        min-height: 24px;
        font-size: 0.78rem;
        margin-right: 10px;
    }
    .filter-close-btn{
        padding:0;
        border:0;
        background-color: transparent;
        color:#CECECE;
        font-size: 0.78rem;
        &:focus{
            outline:0;
        }
    }
    

}
// demograpgy Filter css End