.ezi-modal-wrapper{

    .ezi-modal-header{
        border-bottom: 1px solid #E9E9E9;
        .ezi-modal-title-wrap {
            display: flex;
            width: 100%;
        }
        .ezi-modal-close{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 30px;
            background: #F2F5F8;
            border-radius: 50%;
            margin-left: auto;
            background-image: url(../images/modal_close_ic.svg);
            background-size: 11px;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
        }
        .ezi-modal-header-title {
            color: #CE2E6C;
            font-family: $SemiBoldFont;
            font-size: 1.1rem !important;
            padding-right: 12px;
        }
    
    }

    .modal-body{
        padding: 20px;
    }

    .ezi-modal-footer{
        padding: 20px 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .ezi-modal-close-btn{
            background: transparent;
            border: 0;
            padding: 4px 12px;
            margin: 0;
            margin-right: 10px;
            color: #b1b1b1;
            font-family: "NunitoSansSemiBold";
            font-size: 0.8rem;
        }
        .ezi-modal-save-btn{
            padding: 0 26px;
        }

    }
}

.survey-date-change-wrapper{
    padding: 0 15px;
}
.survey-date-change-field {
    margin: 15px 0;
    label {
        color: #b7b7b7;
        font-size: 0.85rem;
        min-width: 140px;
        margin-bottom: 10px;
    } 
}

.ezi-datepicker-custom{
    border-radius: 5px;
    &.react-datetime-picker--disabled{
        background-color: #f0f0f0;
        .react-datetime-picker__wrapper{
            border:1px solid #f0f0f0;
        }
    }
    .react-datetime-picker__wrapper{
        border: 1px solid #f0f0f0;
        padding: 4px 10px;
        border-radius: 5px;
        .react-datetime-picker__inputGroup{
            min-width: 200px;
        }
        input{
            color:#5A4E63;
            &:focus{
                outline: 0;
            }
        }
        select{
            color:#5A4E63;
            &:focus{
                outline: 0;
            }
        }
    }

}
