
/* ------------------------------------
    Added Samir 
       - Css Font Variable
-------------------------------------- */
$Font: 'NunitoSans';
$SemiBoldFont: 'NunitoSansSemiBold';
$LightFont: 'NunitoSansLight';
$BoldFont: 'NunitoSansBold';
$ItalicFont:'NunitoSansItalic' ;
