@import "../../../assets/scss/variable";
@import "../../../assets/scss/placeholder";
.ezi-btn{
    box-shadow: none;
    border: none;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family:$Font;
}
.ezi-btn:hover,
.ezi-btn:focus {
   outline: 0;
     box-shadow: none;
}

.btn-ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.btn-ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #ffffff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}
.btn-ripple:active:after {
  transform: scale(0, 0);
  opacity: .2;
  transition: 0s;
}





/* ========login section start======= */
.login {

//  min-height: 600px;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: relative;
    border-radius: 45px;
    // overflow: hidden;
    box-shadow: -1px 7px 91px #00000012;
    width: 100%;
}
.login-inner{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px 0;
    &:after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        height: calc(100% - 20%);
        width: 2px;
        background-color: #F1F1F1;
    }
}


.login-bg {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.login-bg,.login-form{
    /*flex:1;*/
    width: 50%;    
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
}
.login-img {
    max-width: 400px;
    height: auto;
    width: 100%;
}
.login-logo {
    display: flex;
    justify-content: center;
    img{
        max-width: 200px;
        height: auto;
        width: 100%;
    }
}

.sign-in{
    color: #1C1C1C;
    font-weight: 600;
    text-align: center;
    margin: 26px 0;
}
.login-input-control {
    box-shadow: none;
    border: 1px solid #D9D9D9;
    height: 46px;
    min-height: 46px;
    background: transparent;
    border-radius: 25px;
    padding: 0 50px 0 20px;
    width: 100%;
    font-size: 15px;
    font-family: 'NunitoSans', sans-serif;
    background-size: 14px;
    background-position: right 15px center;
    background-repeat: no-repeat;
        color: #504658;
        transition:  background 0.5s ease-in-out;
        &:focus {
            background-color: #F2F5F8;
            outline: 0;
        }
        &.user-input{
            background-image : url(../../../assets/images/user_icon.png);
        }
        &.password-input{
            // background-image: url(../../../assets/images/pass_icon.png);
        }
        @include placeholder {
            color: #D9D9D9;
        }
        
}





.input-wrap {
    margin-bottom: 20px;
    position: relative;
}
.login-btn {
    background-color: #504658;
    color: #fff;
    font-weight: 600;
    padding: 0 15px;
    border-radius: 25px;
    font-size: 14px;
    font-family: $Font;
    letter-spacing: 0.2px;
    height: 46px;
    width: 100%;
    margin: 15px 0;
    cursor:pointer;
}
.otp-btn-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.company-login-btn {
    background-color: #504658;
    color: #fff;
    padding: 0 15px;
    border-radius: 25px;
    font-size: 14px;
    font-family: 'NunitoSansSemiBold', sans-serif;
    letter-spacing: 0.2px;
    height: 44px;
    margin: 15px 0;
    cursor:pointer;
    flex: 1;
    white-space: nowrap;
    margin-right: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
    &:hover {
        background-color: #CE2E6C;
    }
    .spinner-grow{
        margin-left: 10px;
    }
}
.request-otp-btn{
    background-color: transparent;
    color: #504658;
    border:1px solid #504658;
    padding: 0 15px;
    border-radius: 25px;
    font-size: 14px;
    font-family: $SemiBoldFont;
    letter-spacing: 0.2px;
    height: 42px;
    margin: 15px 0;
    cursor:pointer;
    flex: 1;
    white-space: nowrap;
    transition: background 0.3s ease;
    &:hover{
        background-color: #CE2E6C;
        border-color: #CE2E6C;
        color: #fff;
        }
}

.otp-btn,.resend-otp-btn{
    background-color: transparent;
    color: #504658;
    border: 1px solid #504658;
    padding: 0 15px;
    border-radius: 25px;
    font-size: 14px;
    font-family: $SemiBoldFont;
    letter-spacing: 0.2px;
    height: 44px;
    margin: 15px 0;
    cursor:pointer;
    flex: 1;
    white-space: nowrap;
    transition: background 0.3s ease;
}
.otp-btn:hover{
    background-color:  #504658;
    color: #fff;
}
.otp-btn.send-otp-btn{
    background-color: #504658;
}
.otp-btn.resend-otp-btn{
    &:hover{
        background-color: #CE2E6C;
        border-color: #CE2E6C;
        color: #fff;
    }
}
.login-form form{
    width: 100%;
}
.bg-wrapper{
    background: url(../../../assets/images/login-bg.png);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    // height: 100vh;
    height: 100%;
    width: 100%;
    padding: 50px 10%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form {
    padding: 0 7%;
}
.visibility-wrap {
    position: relative;
}

.visibility-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: absolute;
    right: 6px;
    top: 3px;
    opacity: 0.1;
    transition: opacity 0.3s ease;
    &:hover{
        opacity: 0.6;
    }
    .eye_icon {
        background-size: 21px;
        background-position: center;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        &.visible_on{
            background-image: url(../../../assets/images/visibility_off.svg);
        }
        &.visiblke_off{
            background-image: url(../../../assets/images/visibility.svg);
        }
    }
}




/* ============   Login Checkbox Css Start   ============*/


.login-checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #DBDBDB;
    font-size: 13px;
    .checkmark{
        top: 10px;
        height: 20px;
        width: 20px;
    }
}


.login-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  height: 18px;
  width: 19px;
  border:1px solid #D9D9D9;
  border-radius:6px;
  transform: translateY(-50%);
}


.login-checkbox input ~ .checkmark:hover {
  background-color: #D9D9D9;
}


.login-checkbox input:checked ~ .checkmark {
  /*background-color: #2196F3;*/
}
.login-checkbox input:checked ~ .checkmark:after {
    background: url(../../../assets/images/check.png);
    background-size: 21px;
    background-position: bottom;
    background-repeat: no-repeat;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.login-checkbox input:checked ~ .checkmark:after {
  display: block;
}


.login-checkbox .checkmark:after {
 left: -2px;
 top: -16px;
 width: 30px;
 height: 30px;
}

/* ============   Login Checkbox Css End   ============*/

.forgot-text{
    color: #DBDBDB;
    font-size: 13px;
    font-family: $Font;
    margin-bottom: 20px;
    text-align: right;
    margin-left: 10px;
    a{
        text-decoration: none;
         color: #DBDBDB;
        font-size: 13px;
          font-family: $SemiBoldFont;
          transition: 0.3s ease-in-out;
          &:hover{
            color:#CE2E6C;
            text-decoration: none;
        }
    }
}

.forgot-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.password-input.disabled{
    background-color: #E9E9E9;
    pointer-events: none;
}
.company-login-btn.disabled{
    /*background-color: #B7B7B7;*/
    opacity:0.4; 
    pointer-events: none;
}
.error-message {
    color: #ff0000;
    font-size: 14px;
    margin: 5px 0;
    display: block;
    padding: 0 12px;
    font-family: $SemiBoldFont;    
}

.language-change{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0 10px;
    .language-text {
        border: 0;
        padding: 2px 10px;
        margin: 0 5px;
        background: transparent;
        color: #504658;
        font-family: $Font;        
        transition: color 0.3 ease;
        font-size: 0.8rem;
        &:hover{
            color: #CE2E6C;
        }
        &:focus{
            outline: 0;
        }
    }
}

.language-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0;
    .change-lang{
        color:#B7B7B7;
        font-family: $Font;  
        display: inline-flex;
        align-items: center;
        font-size: 0.8rem;
        &:before{
            content: '';
            background: url(../../../assets/images/country_icon.svg);
            background-size: 20px;
            background-position: center;
            background-repeat: no-repeat;
            border: 0;
            height: 26px;
            width: 26px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-right: 5px;
        }
    }
    .dropdown-toggle{
        background-color: transparent;
        color:#1C1C1C;
        border:0;
        display: inline-flex;
        align-items: center;
        font-family: $Font;   
        font-size: 0.8rem;
        padding:5px 20px;
        &:hover{
            background: transparent;
            color:#1C1C1C;
        }
        &:focus{
            outline: 0;
            box-shadow: none;
        }
        &:after{
            content: '';
            background: url(../../../assets/images/lang_drop_icon.svg);
            background-size: 10px;
            background-position: center;
            background-repeat: no-repeat;
            border: 0;
            height: 26px;
            width: 26px;            
        }
    }
    .show.dropdown{
        .dropdown-item{
            padding:0;
            &:active{
                background-color: transparent;
            }
        }
        &:focus{
            outline: 0;
            box-shadow: none;
        }
        button{
            display: flex;
            align-items: center;
            padding:5px 20px;
            width:100%;
            border:0;
            background-color: transparent;
            color: #504658;
            font-family: $Font;        
            transition: color 0.3 ease;
            font-size: 0.8rem;
            &:hover{
                color: #CE2E6C;
            }
            &:focus{
                outline: 0;
                box-shadow: none;
            }
        }

        .dropdown-menu.show{            
          border:0;
          box-shadow: 0 3px 6px rgba(0,0,0,.1);          
          border-radius: 10px;
          min-width: 9rem;
          padding: 20px 0;
        }
    }
    .show>.btn-primary.dropdown-toggle{
        color: inherit;
        background-color: transparent;
        border-color: transparent;
    }
    .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
        color: inherit;
        background-color: transparent;
        border-color: transparent;
    }
    .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{
        box-shadow: none;
    }
}

.arabic-transaltion{
    text-align: right;
    direction: rtl;
    display: block
}
.sentotp-text {
    display: block;
    text-align: center;
    color: #1c1c1c;
    font-family: 'NunitoSans';
    font-size: 1rem;
    margin-bottom: 40px;
    .sent-otp {
        display: block;
        text-align: center;
        color: #CE2E6C;
    }
}





/* ========login section End======= */


@media (max-width: 768px){

    .login-inner{
        flex-direction: column;
        &:after{
            display: none;
        }
    }
    .login-wrapper,.bg-wrapper{
        height: 100%;
    }
    .login{
        padding: 40px 0;
    }
    .login-bg, .login-form {
    width: 100%;
    padding: 0 30px;
    max-width: 450px;
    }
    .login-bg{
        padding-bottom: 50px;
    }
    .login-img {
    max-width: 275px;
    height: auto;
    width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 480px){
    .login-form{
        padding:0 20px;
    }
}

@media (max-height: 700px){
    .bg-wrapper{
     display:block;
    }
}
