@import "../../assets/scss/variable";
@import "../../assets/scss/placeholder";
.Page-ApplicationAdminDashboard{
    padding: 40px 7%;
    background-color: #F2F5F8;

    .admin-dashboard-header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #E9E9E9;
        padding-bottom: 25px;
        
        .user-welcome-wrap {
            display: inline-block;
        }
        
        .user-welcome-text {
            display: block;
            color: #504658;
            font-size: 1.5rem;
            margin-bottom: 5px;
        }
        
        .admin-dashboard-beadcrumb {
            display: block;
            font-size: 0.85rem;
            color: #8D8D8D;
        }

        .add-new-partner:before {
            content: '+';
            margin-right: 6px;
            font-family: $SemiBoldFont;
            font-size: 1rem;
        }

    }

    .application-admin-table-content{
        margin: 30px 0;
        .react-bootstrap-table .table tbody tr td:hover:after{
            display: none;
        }

        .datatable-action-text {
            display: block;
            text-align: center;
        }
        .datatable-action-row{            
            .datatable-editDelete-wrap{
                visibility: hidden;
                margin-right: 30px;
            }
            &:hover{
                .datatable-editDelete-wrap{
                    visibility: visible;
                }
            }                     
        }
    }



    .datatable-editDelete-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        .datatable-delete_c {
            background: transparent;
            border: 0;
            padding: 0;
            color: #C5C5C5;
            transition: color 0.3s ease;
            font-family: $Font;
            font-size: 0.8rem;
            display: inline-flex;
            align-items: center;   
            &:focus{
                outline: 0;
            }     
            &:hover{
                color: #CE2E6C;
                &:before{
                    background-image: url(../../assets/images/table_delete_active_ic.svg); 
                }
            }
            &:before{
                content: '';
                display: inline-block;
                background-image: url(../../assets/images/table_delete_ic.svg);
                background-size: 9px;
                background-position: center;
                background-repeat: no-repeat;
                height: 24px;
                width: 24px;
                margin-right: 2px;
                transition: background-image 0.3 ease;
    
            }
        }
        .datatable-edit_c {
            background: transparent;
            border: 0;
            padding: 0;
            margin-right: 15px;
            color: #C5C5C5;
            transition: color 0.3s ease;
            font-family: $Font;
            font-size: 0.8rem;
            display: inline-flex;
            align-items: center; 
            &:focus{
                outline: 0;
            }
            &:hover{
                color: #CE2E6C;
                &:before{
                    background-image: url(../../assets/images/table_edit_actives_ic.svg);
                }
            }
            &:before{
                content: '';
                display: inline-block;
                background-image: url(../../assets/images/table_edit_ic.svg);
                background-size: 14px;
                background-position: center;
                background-repeat: no-repeat;
                height: 24px;
                width: 24px;
                margin-right: 2px;
                transition: background-image 0.3 ease;
    
            }
        }
    }








}


.ezi-material-group {
    position: relative;
    margin: 45px 0;
  }
  
  .ezi-material-textarea {
    resize: none;
  }
  
  .ezi-material-input,
  .ezi-material-textarea {
    background: none;
    color: #1c1c1c;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #d9d9d9;
  }
  .ezi-material-input:focus,
  .ezi-material-textarea:focus {
    outline: none;
  }
  .ezi-material-input:focus ~ .ezi-material-label, .ezi-material-input:valid ~ .ezi-material-label,
  .ezi-material-textarea:focus ~ .ezi-material-label,
  .ezi-material-textarea:valid ~ .ezi-material-label {
    top: -14px;
    font-size: 0.85rem;
    color: #504658;
    font-family: $SemiBoldFont;
  }
  .ezi-material-input:focus ~ .ezi-material-bar:before,
  .ezi-material-textarea:focus ~ .ezi-material-bar:before {
    width: 100%;
  }
  
  .ezi-material-input[type="password"] {
    letter-spacing: 0.3em;
  }
  
  .ezi-material-label {
    color: #D9D9D9;
    font-size: 0.8rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
  }
  
  .ezi-material-bar {
    position: relative;
    display: block;
    width: 100%;
    &:before {
        content: '';
        height: 2px;
        width: 0;
        bottom: 0px;
        position: absolute;
        background: #504658;
        -webkit-transition: 300ms ease all;
        transition: 300ms ease all;
        left: 0%;
      }
  }
 
  
  .ezi-common-modal-wrapper{

    
    .modal-content {
        border: 0;
        border-radius: 10px;
        -moz-box-shadow: 0 3px 23px rgba(0,0,0,0.09);
        -webkit-box-shadow: 0 3px 23px rgba(0,0,0,0.09);
        box-shadow: 0 3px 23px rgba(0,0,0,0.09);
    }

    .modal-body{
        padding: 0;
    }

    .application-admin-form-footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 25px;
        .application-admin-save-btn {
            padding: 7px 30px;
        }
        .application-admin-close-btn {
            border: 0;
            background: transparent;
            color: #B7B7B7;
            font-size: 0.85rem;
            padding: 0 10px;
            margin-left: 6px;
            &:focus{
                outline:0;
            }
        }
    }

    .application-admin-modal-header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #E9E9E9;
        padding-bottom: 25px;
        padding: 30px 20px;
        position: relative;
    }

    .ezi-common-modal-body-close{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        background: transparent;
        border-radius: 50%;
        margin-left: auto;
        background-image: url(../../assets/images/modal_close_ic.svg);
        background-size: 11px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 11px;
    }

    form.application-admin-form {
        padding: 0 30px;
    }

    .partner-admin-logo-wrap {
        margin-right: 20px;
        position: relative;

        .partner-logo-upload-position {
            position: absolute;
            right: 0px;
            bottom: 0px;
            display: inline-flex;
        }

        .partner-logo-upload-wrapper{
            position: relative;
            overflow: hidden;
            display: inline-flex;
          }
          
          .partner-logo-upload-btn {
            border:0;
            background-color: #CE2E6C;
            padding: 0;           
            background-image: url(../../assets/images/edit-icon-white.svg);
            background-size: 13px;
            background-position: center;
            background-repeat: no-repeat;
            height: 24px;
            width: 24px;
            min-width: 24px;
            display: inline-flex;
            border-radius: 50%;
            cursor: pointer;
          }
          
          .partner-logo-upload-input{
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
          }

        .partner-default-logo {
            height: 90px;
            width: 90px;
        }
    }
    
    .admin-modal-header-text {
        .title {
            display: block;
            color: #504658;
            font-size: 1.2rem;
            margin-bottom: 4px;
        }
        .subtitle {
            display: block;
            color: #B7B7B7;
            font-size: 0.85rem;
        }
        
    }
    
    
}
 