@import "../../assets/scss/variable";
.Page-Dashboard{
    padding: 40px 7%;
    background-color: #F2F5F8;

    .greet-text-section{
        .page-heading{
            font-weight: normal;
            color: #504658;
            font-family: $Font;
            font-size: 1.4rem;
            text-transform: capitalize;
        }
    }
    .dashboard-subtitle{
        color:#8D8D8D;
        font-weight: normal;
        font-family: $Font;
        font-size: 0.9rem;
        margin-bottom: 20px;
    }
    .ezi-popover-btn {
        margin-bottom: 1.3rem;
        margin-left: 7px;
    }

    .graph-card-main-wrap{
        display: flex;
        justify-content: space-between;
        width: calc(50% - 10px);
    }
    .graph-card-left-section {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .graph-card-right-section {
        width: calc(50% - 10px);
        background-color: #fff;
        height: 304px;
        margin-bottom: 20px;
        border-radius: 9px;
        -moz-box-shadow:  0 3px 10px rgba(0,0,0,0.08);
        -webkit-box-shadow:  0 3px 10px rgba(0,0,0,0.08);
        box-shadow:  0 3px 10px rgba(0,0,0,0.08);

        .line-chart-header{
            min-height: 88px;
            border-bottom: 1px solid #E8E9EC;
            padding: 10px 20px;
            display: flex;
            align-items: center;
        }
        .line-people-ic {
            height: 50px;
            width: 50px;
            background: #EEEDFC;
            border-radius: 50%;
            margin-right: 25px;
            background-position: center;
            background-repeat: no-repeat;               
            background-size: 22px;
            background-image: url(../../assets/images/dashboard/line-people-ic.svg); 
        }
        .line-chart-body{
            height: calc(100% - 88px);
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            canvas{
                height: 176px !important;
            }
        }
        .total-respondant-wrap{
            margin-right: 25px;
            .title{
                display: block;
                color:#B7B7B7;
                font-size: 0.8rem;
            }
            .subtitle{
                display: block;
                color:#7467F0;
                font-family: $SemiBoldFont;
                font-size: 1.2rem;
            }
        }
        .number-of-survey{
            .title{
                display: block;
                color:#B7B7B7;
                font-size: 0.8rem;
            }
            .subtitle{
                display: block;
                color:#5A4E63;
                font-family: $SemiBoldFont;
                font-size: 1.2rem;
            }
        }

    }

    .donut-card-wrap{
        background-color: #fff;
        width: 100%;
        height: 100%;
        max-height: 304px;
        border-radius: 9px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        -moz-box-shadow:  0 3px 10px rgba(0,0,0,0.08);
        -webkit-box-shadow:  0 3px 10px rgba(0,0,0,0.08);
        box-shadow:  0 3px 10px rgba(0,0,0,0.08);
    }
    .donut-card-header {
        padding: 15px 20px;
        border-bottom: 1px solid #E8E9EC;
        min-height: 60px;
        display: flex;
        align-items: center;
        .title{
            display: block;
            color:#B7B7B7;
            font-size: 0.85rem;
            margin-bottom: 0;
            margin-right: 20px;
        }
        .subtitle{
            display: block;
            color:#CE2E6C;
            font-family: $SemiBoldFont;
            font-size: 1.22rem;
        }
    }


    .survey-info-card-wrap {
        display:flex;
        justify-content: space-between;
        .survey-info-card--common {
            background: #fff;
            padding:14px  20px;
            margin-bottom: 20px;
            -moz-box-shadow: -1px 7px 60px rgba(0,0,0,0.08);
            -webkit-box-shadow: -1px 7px 60px rgba(0,0,0,0.08);
            box-shadow: -1px 7px 60px rgba(0,0,0,0.08);
            border-radius: 9px;
            width: calc(50% - 10px);
            display: flex;
            align-items: center;
            &.create-surveys{
                background-color: #CE2E6C;    
                cursor: pointer;            
                    .title_c { color: #FF7AAD; }
                    .subtitle_c{ color:#ffffff; }                
            }
        }
        

        .survey-info-text-wrap {
            display: inline-flex;
            flex-direction: column;
            .title_c {
                color: #B7B7B7;
                font-size: 0.85rem;
                margin-bottom: 2px;
            }
            .subtitle_c{
                color:#5A4E63;
                font-size: 1.22rem;
                font-family: $SemiBoldFont;
            }
        }
        
        .surveys-icon-wrap--common {
            display: inline-flex;       
            height: 60px;
            width: 60px;
            min-width: 60px;
            border-radius: 50%;
            margin-right: 20px;
        }
        
        .surveys-icon--common{
            height: 100%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            &.total-surveys_ic{
                background-image: url(../../assets/images/template/template.png); 
                background-color: #F0DECB;   
                background-size: 20px;
        
            }
            &.active-surveys_ic{
                background-image: url(../../assets/images/dashboard/active_survey.svg);
                background-color: #B5EE5F;
                background-size: 24px;
            }
            &.create-surveys_ic{
                background-image: url(../../assets/images/template/plus.png);
                background-color: #EE4586;
                background-size: 32px;
                cursor: pointer;

            }
        }
    
        
    }

    .dashboard-col-wrap{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    .recent-highlight-main-wrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        width: calc(50% - 10px);
    }

    .recent-surveys-card {
        display:flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 9px;
        width: 100%;
        max-height: 530px;
        min-height: 530px;
        height: 100%;
        position: relative;
        box-shadow: -1px 7px 60px rgba(0,0,0,0.08);
        .no-survey {
            color: #b7b7b7;
            display: block;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 0.85rem;
        }
    }
    .recent-surveys-card-header {
        border-bottom: 1px solid #E8E9EC;
        padding: 10px 20px;
        color: #5A4E63;
    }

    .recent-surveys-card-body{
        overflow-y: auto;
        margin: 20px 20px;
        &::-webkit-scrollbar {
            width: 3px;
            height: 3px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #b7b7b7;
        }
        &::-webkit-scrollbar-track {
            background-color: #E9E9E9;
        }
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                padding-right: 10px;
                float: unset;
                opacity: initial;
                font-weight: normal;
                text-shadow: none;
                line-height: initial;
                &.close:hover{
                    opacity: initial;
                }
            }
        }
        .recent-surveys-index{
            height: 26px;
            width: 26px;
            min-width: 26px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            color: #1C1C1C;
            background-color: #F2F5F8;
            margin-right:15px;
            font-size: 0.8rem;
        }
        .recent-surveys-name {
            color: #1C1C1C;
            font-family: $SemiBoldFont;
            font-size: 0.87rem;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: capitalize;
        }
        .recent-surveys-status {
            border-radius: 25px;
            padding: 6px 20px 6px 15px;
            margin: 0 15px;
            font-size: 0.85rem;
            font-family: $Font;
            display: inline-flex;
            align-items: center;
            min-width: 100px;
            text-transform: capitalize;
            float: unset;
            font-weight: normal;
            line-height: initial;
            text-shadow: none;
            opacity: 1;
            &:before{
                content: '';
                height: 8px;
                width: 8px;
                min-width: 8px;
                display: inline-block;
                border-radius: 50%;
                margin-right: 10px;
            }
            &.active{
                color:#8e7d9c;
                &:before{
                    background: #B5EE5F;
                }
            }
            &.inactive{
                color: #8e7d9c;
                &:before{
                    background: #FBCD49;
                }
            }
            &.close{
                 color:#FF6161;
                &:hover{
                    opacity: initial;
                }
                &:before{
                    background: #FF6161;
                }
            }
            &.draft{
                color:#B7B7B7;
                &:before{
                    background: #C5C5C5;
                }
            }
        }
        .recent-surveys-report {
            background: transparent;
            border: 1px solid #E9E9E9;
            border-radius: 25px;
            padding: 6px 24px;
            color: #C5C5C5;
            font-size: 0.85rem;
            font-family: $SemiBoldFont;
            white-space: nowrap;
            transition: all 0.3s ease ;
            &:focus{
                outline:0;
            }
            &:hover{
                background-color: #E9E9E9;
                color: #656565;
            }
        }
    }

    .donut-card-body{
        display: flex;
        height: 100%;
        padding: 20px 0;
    }
    .donut-card-body-left{
        width: 50%;
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        .title{
            color:#B7B7B7;
            font-size: 0.8rem;
            display: block;
            margin: 0 15px;
        }
        .subtitle{
            color:#5A4E63;
            font-size: 1.1rem;
            font-family: $SemiBoldFont;
            display: block;
            margin: 0 15px;
        }
    }
    .donut-card-body-right{
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .donut-data-wrap{
        margin-top: auto;
        padding: 0 20px;
        label{
            display: block;
            color:#5A4E63;
            margin-bottom: 0;
            font-size: 0.8rem;
            margin-bottom: 5px;
            white-space: nowrap;
        }
        .data-label{
            min-width: 120px;
            display: inline-block;
            &:before {
                content: '';
                height: 8px;
                width: 8px;                
                display: inline-block;
                border-radius: 50%;
                margin-right: 8px;
            }
            &.email:before{background-color: #7467F0;}
            &.sms:before{background-color: #FFA550;}
            &.website:before{background-color: #EA6061;}
        }
        .data-count{
            color:#161616;
            display: inline-flex;
            &:after{
                content: '';
                background-position: center;
                background-repeat: no-repeat;               
                background-size: 12px;
                height: 20px;
                width: 20px;
                display: inline-block;
                margin-left: 5px;
            }
            &.up:after{ background-image: url(../../assets/images/dashboard/arrow-up.svg); }
            &.down:after{ background-image: url(../../assets/images/dashboard/arrow-down.svg); }

        }
    }


    .highlight-card-main-wrap{
        width: 100%;
    }
    .highlight-card{
        display:flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 9px;
        width: 100%; 
        -moz-box-shadow: -1px 7px 91px rgba(0,0,0,0.11);
        -webkit-box-shadow: -1px 7px 91px rgba(0,0,0,0.11);
        box-shadow: -1px 7px 91px rgba(0,0,0,0.11);
        min-height: 300px;
        max-height: 300px;
        margin-bottom: 29px;
    }
    .highlight-card-header {
        display: flex;
        justify-content: space-between;
        padding: 15px 25px;
        border-bottom: 1px solid #E8E9EC;
        .highlight-header-heading {
            margin: 0;
            color: #5A4E63;
            font-size: 1rem;
        }
    }
    .highlight-clear-btn {
        padding: 0;
        border: 0;
        background: transparent;
        color: #B7B7B7;
        font-size: 0.8rem;
    }

    .highlight-card-body {
        overflow-y: auto;
        margin: 20px 20px;
        position: relative;
        height: 100%;
        &::-webkit-scrollbar {
            width: 3px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #b7b7b7;
        }
        &::-webkit-scrollbar-track {
            background-color: #E9E9E9;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                display: flex;
                align-items: center;
                padding-right: 10px;
                margin-bottom: 15px;
            }
        }
        .highlight-card-msg-icon {
            height: 26px;
            width: 26px;
            min-width: 26px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            color: #fff;
            text-indent: -9999px;
            background-size:24px;
            background-position: top 1px center;
            background-repeat: no-repeat;
            margin-right: 15px;
            &.hightlight-success{
                    background-image: url(../../assets/images/template/highlight-success.svg);
                    background-color: #B5EE5F;                
                    background-position: top 1px left 1px;           
            }
            &.hightlight-info{               
                    background-image: url(../../assets/images/template/highlight-info.svg);                
                    background-color: #0086F2;
            }
            &.hightlight-warning{             
                    background-image: url(../../assets/images/template/highlight-warning.svg);
                    background-color: #FFCF46;        }
            &.hightlight-error{              
                    background-image: url(../../assets/images/template/highlight-error.svg);
                    background-color: #FF5054;
            }
        }
        .highlight-des-wrap{
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow: hidden;
            .highlight-card-des {
                color: #4D4F5C;
                font-size: 0.9rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }        
            .highlight-card-time {
                color: #A3A4AB;
                font-size: 0.75rem;
            }
        }
        .no-activity {
            color: #b7b7b7;
            display: block;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 0.85rem;
        }
    }


    .common-vertical-card-wrap {
        display: flex;
        width: 100%;
        height: 100%;
        max-height: 540px;
        align-items: center;
        margin: 20px 0 0;
    }

    .common-vertical-card {
        background-color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        min-height: 120px;
        border-radius: 9px;
        margin-bottom: 30px;
        -moz-box-shadow: -1px 7px 60px rgba(0,0,0,.08);
        -webkit-box-shadow: -1px 7px 60px rgba(0,0,0,.08);
        box-shadow: -1px 7px 60px rgba(0,0,0,.08);
        cursor: pointer;
        margin-right: 20px;
        width: 100%;
        &:last-child{
            margin-right: 0;
        }
        &.usersroles{
            .common-vertical-card-icon-wrap{
                background-color:#E9E9E9;
            }
        }

        &.need-help{
            background-color: #504658;
            .common-vertical-card-icon-wrap{
                background-color: #72637E;
            }            
        }

    }
    .common-vertical-card-icon-wrap {
        display: inline-flex;
        height: 60px;
        width: 60px;
        min-width: 60px;
        border-radius: 50%;
        margin-right: 20px;
    }
    .common-vertical-card-icon{
        height: 100%;
        width: 100%;
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
        &.usersroles_ic{
            background-image: url(../../assets/images/users-roles-50.svg); 
            background-size: 35px;
        }
        &.need-help_ic{
            background-image: url(../../assets/images/need-help.svg); 
            background-size: 15px;
            background-color: #72637E;
        }
        &.tips-making_ic{
            background-image: url(../../assets/images/tips-making.svg); 
            background-size: 20px;
            background-color: #FEF8E7;
        }
    }
    
    .users-roles-text{
        color: #504658;
        font-size: 0.88rem;
    }
    .need-help-text{
        color:#fff;
        font-size: 0.88rem;
    }
    .tips-making-text{
        color:#504658;
        font-size: 0.88rem;
    }

    .tips-making-wrap {
        display: flex;
        align-items: center;
    }
    

    @media (max-width:1000px){

        .dashboard-col-wrap{
            flex-direction: column;
            justify-content:flex-start;
        }
        .recent-highlight-main-wrap,.graph-card-main-wrap{
            width: 100%;
        }

    } 

    @media (max-width:620px){
        .graph-card-left-section{
            flex-direction: column;
        }
        .survey-info-card-wrap .survey-info-card--common{
            max-width: 100%;
        }
        .donut-card-wrap{
            width: initial;
            margin-left: 0;
        }
        .common-vertical-card-wrap{
            flex-direction: column;
        }
        .common-vertical-card{
            margin-right:0;
            justify-content: flex-start;
        }

      .donut-card-body-left .subtitle {
            margin-bottom: 30px;
        }
        .survey-info-card-wrap{
            flex-direction: column;
            .survey-info-card--common{
                width:100%;
            }
        }
        .recent-surveys-card{
            max-height: 400px;
            min-height: 400px;
        }
        .recent-surveys-card-body .recent-surveys-status{
            padding: 6px 10px 6px 10px;
            min-width: 80px;
        }

    }



}