
*, *::before, *::after {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
html,body,#root,.App{
  height: 100%;
}

body{
margin:0;
background-color: #F2F5F8;
font-family: 'NunitoSans', sans-serif;

}
a:hover{
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar-track
{
 
  background-color: #eee;
  
}

::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  background-color: #ddd;
  border-radius: 10px;
}

button:focus,a:focus{
  outline: 0 !important;
}