
html body{
  margin:0;
  background-color: #F2F5F8;
  font-family: 'NunitoSans', sans-serif;
  
  }

.ezi-loading-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.ezi-spinner {
    width: 75px;
    height: 75px;
    margin: 0;
    background: transparent;
    border-top: 4px solid #CE2E6C;
    border-right: 4px solid transparent;
    border-radius: 50%;
    -webkit-animation: 1s ezi-spin linear infinite;
    animation: 1s ezi-spin linear infinite;
  }
  
  
  
  
  @-webkit-keyframes ezi-spin {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes ezi-spin {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  

  /**
   * Loader Css  Start  
   */

  .loading-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
  }
  .ezi-loader-check{
    background-image: url(./assets/images/ezi-loader-check.svg);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 11px;
    left: 14px;
  }
    #ezi-loader{
        width: 70px;
        height: 70px;
        border-radius: 100%;
        position: relative;
        margin: 0 auto;
      }
      #ezi-loader:before, #ezi-loader:after{
        content: "";
        position: absolute;
        top: -7px;
        left: -7px;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: 7px solid transparent;
        border-top-color: #D12C6D;
      }
      
      #ezi-loader:before{
        z-index: 100;
        animation : ezi-spin .6s infinite linear;
      }
      
      #ezi-loader:after{
        border: 7px solid #C5C5C5;
      }
      .ezi-loader-text{
        color: #D12C6D;
        font-size: 0.86rem;
        font-family: 'NunitoSansSemiBold';
        margin: 4px 0;
      }
      
      @keyframes ezi-spin{  
          0% {
              -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
          }
      
          100% {
              -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
          }
      }
      
/* Loader Css  End  */